.container {
  img {
    border-radius: 8px;
    width: 50%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
    text-align: center;
  }
  text-align: center;
}

.title {
}

.description {
}

.error {
  text-align: center;
  color: tomato;

  img {
    height: auto;
    width: 300px;
    border-radius: 8px;
  }
}
